<IfModule mod_rewrite.c>
	RewriteEngine on
	
	RewriteBase /
	 RewriteRule ^(resources)($|/) - [NC,L]
 	


 	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)/(css|fonts|images|js)/(.+)$ resources/themes/$1/$2/$3 [L,NC]
	

	RewriteRule  ^$ public/    [L]
	RewriteRule  (.*) public/$1 [L]
	RewriteRule ^w/(\d+)*$ ./public/w/$1

 	
</IfModule>
